.header_section {
    background-color: #000000;
    color: #fff;
    padding: 10px;
  }
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navbar-brand {
    font-family: 'Roboto Mono', monospace;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    padding-left: 0%;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color:#60751c;
  }
  
  .custom_nav-container .nav_search-btn {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    color: #ffffff;
    margin: 0 10px;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #cf3719;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .user_option a {
    margin: 0 10px;
  }
  
  .user_option .user_link {
    color: #ffffff;
  }
  
  .user_option .user_link:hover {
    color: #60751c;
  }
  
  .user_option .cart_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .user_option .cart_link svg {
    width: 17px;
    height: auto;
    fill: #ffffff;
    margin-bottom: 2px;
  }
  
  .user_option .cart_link:hover svg {
    fill: #FFA500;
  }
  
  .user_option .order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #cf3719;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .user_option .order_online:hover {
    background-color: #b13f2b;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  
  .heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
  /* CSS for forms and inputs */
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
input[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
